@tailwind base;
@tailwind components;
@tailwind utilities;
.slick-slide > div {
  margin: 0 7px;
}
.slick-next:before {
   content: '→';
   color:var(--Green-text-color);
}
.slick-prev:before {
   content: '←';
   color:var(--Green-text-color);

}
:root {
  --Green-text-color: #11875c; /* For Green texts */
  --Green-rectangle-color: #77d0b0; /* For Green rectangle backgrounds */
  --Black-color-primary: #2e2e2d; /* For black header texts */
  --Black-color-secondary: #5d5c5c; /* For black Detail texts */
}
